In [2]:
#import libraries 
import pandas as pd

In [6]:
file = 'ri_statewide_2020_04_01.csv'
ri = pd.read_csv(file)

/Users/alastairthomson/opt/miniconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3437: DtypeWarning: Columns (6,17,30) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

Do drivers of different genders commit different types of traffic violations?
Does gender affect who gets a ticket for speeding?
Does the driver's gender affect whether their vehicle is searched or not?

Since these are all of type vehicle, the column is obsolete and we can therefore drop it entirely.

In [66]:
ri.drop('type', inplace=True, axis=1)

In [68]:
ri.outcome.value_counts()

citation    428378
warning      28840
arrest       16603
Name: outcome, dtype: int64

In [14]:
ri.dropna(subset=['subject_race', 'subject_sex'], inplace=True)

In [16]:
ri.isnull().sum()

raw_row_number                0
date                          0
time                          0
zone                          0
subject_race                  0
subject_sex                   0
department_id                 0
type                          0
arrest_made                   0
citation_issued               0
warning_issued                0
outcome                    6763
contraband_found         462822
contraband_drugs         464596
contraband_weapons       468789
contraband_alcohol       479367
contraband_other         462822
frisk_performed               0
search_conducted              0
search_basis             462822
reason_for_search        462822
reason_for_stop               0
vehicle_make             162525
vehicle_model            250553
raw_BasisForStop              0
raw_OperatorRace              0
raw_OperatorSex               0
raw_ResultOfStop              0
raw_SearchResultOne      462822
raw_SearchResultTwo      479765
raw_SearchResultThree    480416
dtype: int64

In [26]:
ri.dtypes

raw_row_number            int64
date                     object
time                     object
zone                     object
subject_race             object
subject_sex              object
department_id            object
type                     object
arrest_made                bool
citation_issued            bool
warning_issued             bool
outcome                  object
contraband_found         object
contraband_drugs         object
contraband_weapons       object
contraband_alcohol       object
contraband_other         object
frisk_performed            bool
search_conducted           bool
search_basis             object
reason_for_search        object
reason_for_stop          object
vehicle_make             object
vehicle_model            object
raw_BasisForStop         object
raw_OperatorRace         object
raw_OperatorSex          object
raw_ResultOfStop         object
raw_SearchResultOne      object
raw_SearchResultTwo      object
raw_SearchResultThree    object
dtype: object

In [70]:
combined = ri.date.str.cat(ri.time, sep=' ')
ri['date_and_time'] = pd.to_datetime(combined)

In [71]:
ri.set_index('date_and_time', inplace=True)

In [75]:
ri.head()

,date,time,zone,subject_race,subject_sex,department_id,arrest_made,citation_issued,warning_issued,outcome,...,reason_for_stop,vehicle_make,vehicle_model,raw_BasisForStop,raw_OperatorRace,raw_OperatorSex,raw_ResultOfStop,raw_SearchResultOne,raw_SearchResultTwo,raw_SearchResultThree
date_and_time,,,,,,,,,,,,,,,,,,,,,
2005-11-22 11:15:00,2005-11-22,11:15:00,X3,white,male,200,False,True,False,citation,...,Speeding,NaN,NaN,SP,W,M,M,NaN,NaN,NaN
2005-10-01 12:20:00,2005-10-01,12:20:00,X3,white,male,200,False,True,False,citation,...,Speeding,NaN,NaN,SP,W,M,M,NaN,NaN,NaN
2005-10-01 12:30:00,2005-10-01,12:30:00,X3,white,female,200,False,True,False,citation,...,Speeding,NaN,NaN,SP,W,F,M,NaN,NaN,NaN
2005-10-01 12:50:00,2005-10-01,12:50:00,X3,white,male,200,False,True,False,citation,...,Speeding,NaN,NaN,SP,W,M,M,NaN,NaN,NaN
2005-10-01 13:10:00,2005-10-01,13:10:00,X3,white,female,200,False,True,False,citation,...,Speeding,NaN,NaN,SP,W,F,M,NaN,NaN,NaN

In [61]:
ri.subject_race.value_counts()

white                     344716
black                      68577
hispanic                   53123
asian/pacific islander     12824
other                       1344
Name: subject_race, dtype: int64

Let''s have a look a each gender

In [76]:
male = ri[ri.subject_sex == 'male']
female = ri[ri.subject_sex == 'female']

In [80]:
male.reason_for_stop.value_counts(normalize=True)

Speeding                            0.522364
Other Traffic Violation             0.206948
Equipment/Inspection Violation      0.135102
Registration Violation              0.040581
Special Detail/Directed Patrol      0.037136
Seatbelt Violation                  0.036555
Call for Service                    0.014987
Violation of City/Town Ordinance    0.002347
Motorist Assist/Courtesy            0.001880
APB                                 0.001076
Suspicious Person                   0.000767
Warrant                             0.000258
Name: reason_for_stop, dtype: float64

In [79]:
female.reason_for_stop.value_counts(normalize=True)

Speeding                            0.657308
Other Traffic Violation             0.136581
Equipment/Inspection Violation      0.107055
Registration Violation              0.043077
Seatbelt Violation                  0.027071
Call for Service                    0.018057
Special Detail/Directed Patrol      0.005071
Motorist Assist/Courtesy            0.002532
Violation of City/Town Ordinance    0.001647
APB                                 0.000831
Suspicious Person                   0.000564
Warrant                             0.000206
Name: reason_for_stop, dtype: float64

On first glance, speeding takes up a larger proportion of traffic violations for females than males. Although this does not take into count the number of stops for each of the two groups.

Does gender affect who fets a ticket for speeding?

In [86]:
female_and_speeding = ri[(ri.subject_sex == 'female') & (ri.reason_for_stop == 'Speeding')]
male_and_speeding = ri[(ri.subject_sex == 'male') & (ri.reason_for_stop == 'Speeding')]

female_and_speeding.outcome.value_counts(normalize=True)

citation    0.954609
warning     0.039059
arrest      0.006332
Name: outcome, dtype: float64

In [87]:
male_and_speeding.outcome.value_counts(normalize=True)

citation    0.946763
warning     0.036167
arrest      0.017070
Name: outcome, dtype: float64

The proportions of tickets (citation) given to both female and male drivers is nearly identical. With 95.4% nad 94.6%, respectively.

Does the driver's gender affect whether their vehicle is searched?